
<!DOCTYPE html>
<html>
  <head>
    <title>CashMagnet0</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

      <style>
      table {
   width: 100%;
   border: 1px solid #000;
}
th, td {
   width: 25%;
   text-align: left;
   vertical-align: top;
   border: 1px solid #000;
   border-collapse: collapse;
   padding: 0.3em;
   caption-side: bottom;
}
caption {
   padding: 0.3em;
   color: #fff;
    background: #000;
}
th {
   background: #eee;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
</style>
  </head>

  <body>
  <ul>
  <li><a class="active" href="/productos">Inicio</a></li>
  <li><a href="/productos/new">Nuevo</a></li>
  <li><a href="#contact">Contacto</a></li>
  <li><a href="/productos/reportes">Reporte</a></li>
</ul>
    <%= yield %>
  </body>
</html>
